<div>
  <br/>
  <label for="change">Limit</label>
  <select (change)="changeLimit($event.target.value)" class="form-control">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
  </select>
  <br/>
</div>

<div>

  <ngx-datatable
    #dt
    class="material"
    [rows]="rows"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [limit]="5"
    [loadingIndicator]="true"
    [rowHeight]="'auto'">
    <ngx-datatable-column name="Name">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Gender">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{column.name}}</span>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <i [innerHTML]="row['gender']"></i>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Age">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Company">
      <ng-template let-column="column" ngx-datatable-header-template>
        More
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <details>
          <summary>Show Company</summary>
          {{ value }}
        </details>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
  
</div>